<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089528479921-vgmdk5dpmc01vlve48ipohbc5bneprma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089528479921-vgmdk5dpmc01vlve48ipohbc5bneprma</string>
	<key>API_KEY</key>
	<string>AIzaSyAmCbOKXAAhk_tUnZvVrsElTvgKiJA_rSA</string>
	<key>GCM_SENDER_ID</key>
	<string>1089528479921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udemyProject</string>
	<key>PROJECT_ID</key>
	<string>udemy-project-4a89b</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-project-4a89b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089528479921:ios:61ee4a47c8ac8bb2d0a290</string>
</dict>
</plist>